.header {
    overflow: hidden;
}

:root { 
    --plyr-color-main: #008080;
    --plyr-control-icon-size: 15px;
    --plyr-control-radius: 20px; 
    --plyr-font-family: Helvetica, Arial, sans-serif;
    --plyr-control-spacing: 15px;
  }

//Video Section



// #header .bg-vid {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     background-image: cover;
//     object-fit: cover;
//     margin-top: -70px;
//     background-position: center;
//     height: fit-content;

//     @media screen and (min-width: 1280px) {
//         margin-top: -190px;
//     }
// }
  

//Header Content

.header h1 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2;
}

.header h1 span {
    color: #C42B38;

}


.subtext {
    font-size: 16px;
    margin: 10px 0;
}

.subtext span { 
    color: #528AC8;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
}

.about-me { 
    font-size: 40px;
    background-color:#C0C0C0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.more-abt {
    padding: 10px 20px;
    background-color:#FFFFFF;
    color: #36454F;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.case-study {
    padding: 10px 20px;
    background-color:#FFFFFF;
    color: #36454F;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.portfolio-me { 
    font-size: 40px;
    background-color:#C0C0C0;
    justify-content: center;
    align-items: center;
    display: flex; 
}

.reviews-me {
    font-size: 40px;
    background-color:#C0C0C0;
    justify-content: center;
    align-items: center;
    display: flex; 
}

.contact-me {
    font-size: 40px;
    background-color:#C0C0C0;
    justify-content: center;
    align-items: center;
    display: flex; 
}

 .logo-design { 
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: auto;
    margin-bottom: 30px;
 }

//Let's Talk Button 

.contact-button {
    width: 220px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}  

.contact-button:hover {

    transform: scale(1.1);
}

.contact-button img {
    width: 23px;
    height: 23px;
}


//Hamburger Menu
.side-menu {
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    border-radius: 30px;
    margin-top: 32px;
    margin-bottom: 48px;

    .side-menu-content {
        display: inline-block;
        img {
            height: 17px;
            width: 17px;
        }
    }
}



.underline {
    border: 1px solid red;
    height: 33px;
    margin: 10px auto;
}

// @media screen and (min-width: 1200px) {
//     // .body {
//         // width: 600px;
//         // display: flex;
//         // flex-direction: row;
//         // justify-content: center;
//         // align-items: center;
//         // background-color: white;
//         // padding: 0px 64px;
//         // border-radius: 30px;
//     }
    
// }

// .send { 
//     padding: 10px 20px;
//     background-color:#FFFFFF;
//     color: #36454F;
//     border: none;
//     border-radius: 20px;
//     font-size: 20px;
//     cursor: pointer;
//     align-items: center;
//     justify-content: center;
//     display: flex;
// }

//Scroll Up Function

.circle-button { 
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.circle-button:hover {

    transform: scale(1.1);
}

.circle-button img {
    width: 30px;
    height: 45px;
}